		.btnbox {
			display: table;
      width: 100%;
			background-color: #eb5e18;
			margin-top: 0.8rem;
			border-radius: 5px;
			a {
				height: 1.2rem;
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				color: #fff;
				font-size: 0.3rem;
				line-height: normal;//核心应该是这一句这一句有了下面这些用起来也是OK的
			        //display: flex;
				//align-items: center;
				//justify-content: center;
			}
		}
